<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <div class="content container">
      {{ content }}

      <div>
        Pssst! <a target="_blank" href="https://www.amazon.com/tryprimefree?ref_=assoc_tag_ph_1427739975520&_encoding=UTF8&camp=1789&creative=9325&linkCode=pf4&tag=royowl-20&linkId=ca5c36f8fe74cf957fd5873798eb5e9f">Try Amazon Prime 30-Day Free Trial</a> for free shipping on all of these things!<img src="//ir-na.amazon-adsystem.com/e/ir?t=royowl-20&l=pf4&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
      </div>
    </div>

  </body>
</html>
